body {
  text-align: center;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
.main_header,
footer {
  background: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main_header nav ul{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
  padding-right: 2rem;
  font-weight: bold;
}
.services_section {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.services_section article {
  border: 1px solid black;
  margin: 0;
  padding: 1rem;
}
